# ==========================
fastapi
# ==========================
pydantic
# ==========================
pydantic-settings
# ==========================
uvicorn
# ==========================
requests
# ==========================
PyJWT
# ==========================
python-dotenv
# ==========================
python-jose[cryptography]
# ==========================
passlib[bcrypt]
# ==========================
python-multipart
# ==========================
node.js
# ==========================
react-router-dom
# ==========================
pytest