body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url('./a1.jpg');
    background-size: cover;
    background-position: center;
  }
body h1{
    display: flex;
    place-items: center;
    background-color:rgba(3, 3, 12, 0.8);
    box-shadow: 0 12px 40px rgba(106, 110, 138, 0.55);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 50px;
    height:50px;
}
.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(3, 3, 12, 0.8);
    box-shadow: 0 12px 40px rgba(106, 110, 138, 0.55);
    padding: 30px;
    border-radius: 10px;
}
.login h3{
    margin-right: 270px;
}

.input-box input{
    width:300px;
    height:15px;
    background-color: rgb(5, 5, 5);
    margin: 10px;
    padding:10px;
    border-radius: 7px;
    
    
}
.submitbutton {
    display: flex;
    justify-content: center;
    width: 100%;  
}

.submitbutton{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 1, 22);
    border-radius: 4px;
    width:150px;
    height:25px;
    cursor: pointer;
    
}







  